body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(156, 56, 56);
}

.teamName {

    text-align: center;
    
}
.card {
    
    background-color: crimson;
    border-radius: 30px;
    transform:rotate(5deg);
    text-shadow: 2px 2px 5px;
    box-shadow: 10px 10px burlywood;
}

.card-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    color: rgb(28, 4, 51);
    align-items: left;
    margin-top: 5em;
    min-height: auto;
}

p {
    padding-left: 30%;
}

.card-subtitle {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
}

.card-title {
    text-align: center;
}

